{% extends 'base.html' %} {% block content %}
<!-- GoalKeeper -->

<form method="POST">
  <h2 class="text-center mb-4">Goalkeepers</h2>
  <div class="container d-flex justify-content-center">
    <div style="width: 600px">
      <div class="list-group list-group-radio d-grid gap-2 border-0">
        {% for goalkeeper in goalkeepers %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="goalkeeper"
            id="gk{{ goalkeeper.id }}"
            value="{{ goalkeeper.id }}"
          />

          <label class="form-check-label" for="gk{{ goalkeeper.id }}">
            {{ goalkeeper.name }} ({{ goalkeeper.rating }})
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- DEFENDER -->
  <h2 class="text-center mb-4">Defenders</h2>
  <div class="container d-flex justify-content-center">
    <div style="width: 600px">
      <div class="list-group list-group-radio d-grid gap-2 border-0">
        {% for defender in defenders %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="defender"
            id="cb{{ defender.id }}"
            value="{{ defender.id }}"
          />

          <label class="form-check-label" for="cb{{ defender.id }}">
            {{ defender.name }} ({{ defender.rating }})
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Midfilder -->
  <h2 class="text-center mb-4">Midfielders</h2>
  <div class="container d-flex justify-content-center">
    <div style="width: 600px">
      <div class="list-group list-group-radio d-grid gap-2 border-0">
        {% for midfielder1 in midfielder1 %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="midfielder1"
            id="cm{{ midfielder1.id }}"
            value="{{ midfielder1.id }}"
          />

          <label class="form-check-label" for="cm{{ midfielder1.id }}">
            {{ midfielder1.name }} ({{ midfielder1.rating }})
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <h2 class="text-center mb-4">Midfielders</h2>
  <div class="container d-flex justify-content-center">
    <div style="width: 600px">
      <div class="list-group list-group-radio d-grid gap-2 border-0">
        {% for midfielder2 in midfielder2 %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="midfielder2"
            id="cm{{ midfielder2.id }}"
            value="{{ midfielder2.id }}"
          />

          <label class="form-check-label" for="cm{{ midfielder2.id }}">
            {{ midfielder2.name }} ({{ midfielder2.rating }})
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- ATTACKER -->
  <h2 class="text-center mb-4">Attackers</h2>
  <div class="container d-flex justify-content-center">
    <div style="width: 600px">
      <div class="list-group list-group-radio d-grid gap-2 border-0">
        {% for attacker in attackers %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="attacker"
            id="st{{ attacker.id }}"
            value="{{ attacker.id }}"
          />

          <label class="form-check-label" for="st{{ attacker.id }}">
            {{ attacker.name }} ({{ attacker.rating }})
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary">Build Team</button>
  </div>
</form>
{% endblock %}
