{% extends 'base.html' %} {% block content %}

<div class="container text-center mt-5">
  <h1>Info</h1>
  <p class="lead">
    Football Manager is a web application built using
    Python, Flask, SQLAlchemy, SQLite, HTML, CSS, and Bootstrap.</p> 
    <p>The project
    allows users to browse a database of football players and build their own
    team by selecting players from different positions. The application provides
    an easy way to view player information and create a balanced squad.</p> 
    <h5>Current Features</h5>
    <p>View Players Browse all available players stored in the database,
    including their position and other details. Build Your Team Create your own
    football team by selecting players from the available squad.</p> 
    <h5>Admin</h5>
    <p>Admin Management Administrators can securely log in to manage the player database.</p>
    <h5>Admin features include:</h5>
    <p>Add new players<br>
    Edit existing player information<br>
    Delete players from the database<br>
    Update player details</p>
    <h5>Technologies Used</h5>
    <p>Python<br> Flask<br> SQLAlchemy<br> SQLite<br>HTML5<br> CSS3<br> Bootstrap 5</p>
    <h5>Project Goal</h5>
    <p>The purpose of this project is to practice full-stack web development concepts
    including database management, CRUD operations, authentication, and dynamic
    web page rendering using Flask. <br>Future versions may include transfers, team
    statistics, match simulations, and league management systems.</p>
  
</div>

{% endblock %}
