{% extends 'base.html' %}

{% block content %}

<h1 class="text-center my-4">Players Available</h1>

<div class="container">
    <div class="row g-4">

        {% for player in all_players %}

        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ player.name }}</h5>
                </div>
                <ul>
                <li><span class="badge text-bg-info">
                    Age:-{{ player.age }}
                </span></li>
                
                
                <li><span class="badge text-bg-secondary">
                    Nation:-{{ player.nation }}
                </span></li>

                <li><span class="badge text-bg-primary">
                    Rating:-{{ player.rating }}
                </span></li>

                <li><span class="badge text-bg-warning">
                    Position:-{{ player.position }}
                </span></li>

                <li><span class="badge text-bg-success">
                    Club:-{{ player.club }}
                </span></li>
                </ul>

            </div>
        </div>             
        {% endfor %}

    </div>
</div>

{% endblock %}