{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4">Selected Team</h2>
<h3 class="text-center mb-4">Team Rating:- {{ tot }}</h3>
<div class="container">
    <div class="row g-4">
        <div class="col-md-3">
            <div class="card h-100">
                <img
                    src="{{gk.img}}"
                    class="card-img-top"
                    alt="{{ gk.name }}"
                    style="height: 250px ;object-fit: cover;"
                >
                <div class="card-body">
                    <h5 class="card-title">{{ gk.name }}</h5>

                    <p class="card-text">
                        <li>Rating:-{{gk.rating}}</li>
                        <li>Postion:-{{gk.position}}</li>
                        <li>Nation:-{{gk.nation}}</li>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="card h-100">
                <img
                    src="{{defe.img}}"
                    class="card-img-top"
                    alt="{{ defe.name }}"
                    style="height: 250px ;object-fit: cover;"
                >
                <div class="card-body">
                    <h5 class="card-title">{{ defe.name }}</h5>

                    <p class="card-text">
                        <li>Rating:-{{defe.rating}}</li>
                        <li>Postion:-{{defe.position}}</li>
                        <li>Nation:-{{defe.nation}}</li>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="card h-100">
                <img
                    src="{{mid.img}}"
                    class="card-img-top"
                    alt="{{ mid.name }}"
                    style="height: 250px ;object-fit: cover;"
                >
                <div class="card-body">
                    <h5 class="card-title">{{ mid.name }}</h5>

                    <p class="card-text">
                        <li>Rating:-{{mid.rating}}</li>
                        <li>Postion:-{{mid.position}}</li>
                        <li>Nation:-{{mid.nation}}</li>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="card h-100">
                <img
                    src="{{atk.img}}"
                    class="card-img-top"
                    alt="{{ atk.name }}"
                    style="height: 250px ;object-fit: cover;"
                >
                <div class="card-body">
                    <h5 class="card-title">{{ atk.name }}</h5>

                    <p class="card-text">
                        <li>Rating:-{{atk.rating}}</li>
                        <li>Postion:-{{atk.position}}</li>
                        <li>Nation:-{{atk.nation}}</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ url_for('build_team') }}" class="btn btn-primary mt-3">
    Build Another Team
</a>
</div>


{% endblock %}